<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auctions Details</title>
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
    <h1>TIW 2021 Auction Website</h1>
    <a th:href="@{/Logout}">Logout</a>
    <a class="active" th:href="@{/SellServlet}">Sell</a>
    <a th:href="@{/GetSearchedAuction}">Buy</a>
    <a th:href="@{/Home}">Home Page</a>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/favicon/apple-icon-57x57.png}" />
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/favicon/apple-icon-60x60.png}" />
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/favicon/apple-icon-72x72.png}" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/favicon/apple-icon-76x76.png}" />
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/favicon/apple-icon-114x114.png}" />
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/favicon/apple-icon-120x120.png}" />
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/favicon/apple-icon-144x144.png}" />
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/favicon/apple-icon-152x152.png}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-icon-180x180.png}" />
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/favicon/android-icon-192x192.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon/favicon-96x96.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}" />
    <meta name="theme-color" content="#ffffff">
</div>
<div class="row">

    <div class="column">
    <h3>Auction data</h3>
        <div>
            <p th:text="${'Name: ' + auctionData.itemName}"></p>
            <p th:text="${'Description: ' + auctionData.itemDescription}"></p>
            <p th:text="${'Price: ' + auctionData.price}"></p>
            <p th:text="${'Minimum raise: ' + auctionData.minRaise}"></p>
            <p th:text="${'Deadline: ' + auctionData.deadline}"></p>
            <img style="max-height: 300px; max-width: 300px;" alt="No image found"
                 th:src="@{/ImageServlet(name=${auctionData.itemImage})}">
        </div>
        <p><a href="SellServlet"><-- Go back to Sell page</a></p>
    </div>
    <div class="column">
        <div th:if="${auctionData.isOpen()}">
            <div th:if="${!bids.isEmpty()}">
                <h3>List of bids</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Bidder username</th>
                        <th>Bid</th>
                        <th>Date & time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bid:${bids}">
                        <td th:text="${bid.bidderUsername}"></td>
                        <td th:text="${bid.bidPrice}"></td>
                        <td th:text="${bid.dateTime}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${bids.isEmpty()}">
                <p><center>This item has recieved no bids</center></p>
            </div>
            <form align="center" action="AuctionDetailsServletHelper" method="POST">
                <input id="auctionId" name="auctionId" th:value="${auctionData.idAuction}" type="hidden" required>
                <button type="submit">Close button</button>
            </form>
            <div th:if="${errorMsg!=null}">
                <p><center>You cannot close the auction yet</center></p>
            </div>
        </div>
        <div th:if="${auctionData.isClose()}">
            <h3>Auction winner data</h3>
            <div th:if="${winner==null}">
                <p>This item has recieved no bids</p>
            </div>
            <div th:if="${winner!=null}">
                <p th:text="${'Winner\'s first name: ' + winner.firstName}"></p>
                <p th:text="${'Winner\'s last name: ' + winner.lastName}"></p>
                <p th:text="${'Winner\'s address: ' + winner.address}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>