<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auctions Details</title>
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
    <h1>TIW 2021 Auction Website</h1>
    <a th:href="@{/Logout}">Logout</a>
    <a class="active" th:href="@{/SellServlet}">Sell</a>
    <a th:href="@{/GetSearchedAuction}">Buy</a>
    <a th:href="@{/Home}">Home Page</a>
</div>
<div class="row">

    <div class="column">
    <h3>Auction data</h3>
        <div>
            <p th:text="${'Name: ' + auctionData.itemName}"></p>
            <p th:text="${'Description: ' + auctionData.itemDescription}"></p>
            <p><span th:text="${'Price: ' + #numbers.formatDecimal(auctionData.price, 0, 'POINT', 2, 'COMMA')}"></span><span> &euro;</span></p>
            <p><span th:text="${'Minimum raise:' +  #numbers.formatDecimal(auctionData.minRaise, 0, 'POINT', 2, 'COMMA')}"></span><span> &euro;</span></p>
            <p th:text="${'Deadline: ' + #dates.format(auctionData.getDeadline(), 'dd-MM-yyyy HH:mm')}"></p>
            <img style="max-height: 300px; max-width: 300px;" alt="No image found"
                 th:src="@{/ImageServlet(name=${auctionData.itemImage})}">
        </div>
        <p><a href="SellServlet"><-- Go back to Sell page</a></p>
    </div>
    <div class="column">
        <div th:if="${auctionData.isOpen()}">
            <h3>List of bids</h3>
            <table>
                <thead>
                <tr>
                    <th>Bidder username</th>
                    <th>Bid</th>
                    <th>Date & time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bid:${bids}">
                    <td th:text="${bid.bidderUsername}"></td>
                    <td><span th:text="${#numbers.formatDecimal(bid.bidPrice, 0, 'POINT', 2, 'COMMA')}"></span><span> &euro;</span></td>
                    <td th:text="${#dates.format(bid.dateTime, 'dd-MM-yyyy HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
            <form action="AuctionDetailsServletHelper" method="POST">
                <input id="auctionId" name="auctionId" th:value="${auctionData.idAuction}" type="hidden">
                <input type="submit" value="Close auction">
            </form>
        </div>
        <div th:if="${auctionData.isClose()}">
            <h3>Auction winner data</h3>
            <div th:if="${winner==null}">
                <p>This item has recieved no bids</p>
            </div>
            <div th:if="${winner!=null}">
                <p th:text="${'Winner\'s name: ' + winner.firstName + ' ' + winner.lastName}"></p>
                <p th:text="${'Winner\'s address: ' + winner.address}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>