<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetSearchedAuction</title>
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="topnav">
    <h1>TIW 2021 Auction Website</h1>
    <a th:href="@{/Logout}">Logout</a>
    <a th:href="@{/SellServlet}">Sell</a>
    <a class="active" th:href="@{/GetSearchedAuction}">Buy</a>
    <a th:href="@{/Home}">Home Page</a>
</div>
<div align="left">
<h1>Use this page to search an Open Auction</h1>
</div>
<form action = "GetSearchedAuction" method="get">
    <div class="container">
        <label for="keyword"><strong>Search for Open Auctions</strong></label>
        <input type="text" placeholder="Write a key word..." id="keyword" name="keyword" required> <br>
        <button type="submit">Search</button>
        <p th:text=" ${errorMsg}"></p>
    </div>
</form>
</body>
<br>
<br>
<table th:if="${auctions != null}">
    <thead>
    <tr>
        <th>ID Auction</th>
        <th>Item Name</th>
        <th>Initial Price</th>
        <th>Minimum Raise</th>
        <th>Deadline</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${auctions}">

        <td th:text="${a.getKey().getIdAuction()}"></td>
        <td th:text="${a.getValue()}"></td>
        <td th:text="${a.getKey().getInitialPrice()}"></td>
        <td th:text="${a.getKey().getMinRaise()}"></td>
        <td th:text="${#dates.format(a.getKey().getDeadline(), 'dd-MM-yyyy HH:mm')}"></td>
        <td><a th:href ="@{/GoToBidPage(idauction=${a.getKey().getIdAuction()})}">Details</a></td>
    </tr>
    </tbody>
</table>
</html>