<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoToBidPage</title>
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/favicon/apple-icon-57x57.png}" />
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/favicon/apple-icon-60x60.png}" />
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/favicon/apple-icon-72x72.png}" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/favicon/apple-icon-76x76.png}" />
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/favicon/apple-icon-114x114.png}" />
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/favicon/apple-icon-120x120.png}" />
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/favicon/apple-icon-144x144.png}" />
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/favicon/apple-icon-152x152.png}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-icon-180x180.png}" />
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/favicon/android-icon-192x192.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon/favicon-96x96.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}" />
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="topnav">
    <h1>TIW 2021 Auction Website</h1>
    <a th:href="@{/Logout}">Logout</a>
    <a th:href="@{/SellServlet}">Sell</a>
    <a class="active" th:href="@{/GetSearchedAuction}">Buy</a>
    <a th:href="@{/Home}">Home Page</a>

</div>
<div align="left">
    <h1>Use this page to add a new Bid for the searched item</h1>
</div>
<div class="row">
    <div class="column">
        <div align="center">
            <br>
            <br>

            <h1 th:text="${'Name : '+ item.getName()}"></h1>
            <br>
            <h2 th:text="${'Description : '+ item.getDescription()}"></h2>
            <br>
            <img style="max-height: 300px; max-width: 300px;" alt="No image found"
                 th:src="@{/ImageServlet(name=${item.getImage()})}">
        </div>
    </div>
    <div class="column">
        <div align="left">
            <br>
            <br>
        </div>
        <div align="left">
            <table>
                <tr>
                    <h3> Insert here the price of your bid, make sure that your price is higher than the max in the list </h3>
                </tr>
                <tr>
                    <h4 ><span th:text="${'The minimum raise is: '+ #numbers.formatDecimal(minimumRaise, 0, 'POINT', 2, 'COMMA')}"></span><span> &euro;</span></h4>
                </tr>
                <tr>
                    <div class="container">
                        <h5 ><span th:text="${'So your minimum bid should be greater than: '+ #numbers.formatDecimal(currMax, 0, 'POINT', 2, 'COMMA')}"></span><span> &euro;</span></h5>
                    </div>
                </tr>
                <tr>
                    <form action="#" th:action="@{/CreateBid}" method="POST">
                        <div class="container">
                            <label for="price"><b>Make a new bid</b></label>
                            <input type="number" th:min="${#numbers.formatDecimal(currMax+0.01, 0, 2)}" step="0.01" placeholder="Type here..." id="price" name="price" required> <br>
                            <button type="submit">Submit</button>
                            <p th:text="${errorMsg}"></p>
                            <input type="hidden" name="idauction" th:value="${idauction}">
                            <input type="hidden" name="currMax" th:value="${currMax}">
                        </div>
                    </form>
                </tr>
            </table>
        </div>
        <br>
        <table th:if="${!bids.isEmpty()}">
            <thead>
            <tr>
                <th>Bid Price</th>
                <th>Date of Bid</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${bids}">

                <td><span th:text="${#numbers.formatDecimal(a.getBidPrice(), 0, 'POINT', 2, 'COMMA')}"></span><span> &euro;</span></td>
                <td th:text="${#dates.format(a.getDateTime(), 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${bids.isEmpty()}">
            <p th:text="${'No bids found for this item.'}"></p>
        </div>
    </div>
</div>
</body>
</html>