<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sell new products!</title>
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="topnav">
    <h1>TIW 2021 Auction Website</h1>
    <a th:href="@{/Logout}">Logout</a>
    <a class="active" th:href="@{/SellServlet}">Sell</a>
    <a th:href="@{/GetSearchedAuction}">Buy</a>
    <a th:href="@{/Home}">Home Page</a>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/favicon/apple-icon-57x57.png}" />
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/favicon/apple-icon-60x60.png}" />
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/favicon/apple-icon-72x72.png}" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/favicon/apple-icon-76x76.png}" />
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/favicon/apple-icon-114x114.png}" />
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/favicon/apple-icon-120x120.png}" />
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/favicon/apple-icon-144x144.png}" />
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/favicon/apple-icon-152x152.png}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-icon-180x180.png}" />
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/favicon/android-icon-192x192.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon/favicon-96x96.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}" />
    <meta name="theme-color" content="#ffffff">
</div>
<div class="row">
    <div class="column">
        <h3>
            <center>Open auctions</center>
        </h3>
        <table align="center">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Last bid</th>
                <th>Minimum raise</th>
                <th>Time left</th>
                <th>Deadline</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable" th:each="openAuction,iter:${openAuctions}">
                <td><a th:href="@{/AuctionDetailsServlet(auctionId=${openAuction.idAuction})}"><span
                        th:text="${openAuction.itemName}"></span></a></td>
                <td><span
                        th:text="${openAuction.itemDescription}"></span></td>
                <td><span
                        th:text="${openAuction.price==0.0}?'no bids':${openAuction.price}"></span></td>
                <td><span
                        th:text="${openAuction.minRaise}"></span></td>
                <td><span
                        th:text="${timeLeftOpen.get(iter.index)}"></span></td>
                <td><span
                        th:text="${#dates.format(openAuction.getDeadline(), 'dd-MM-yyyy HH:mm')}"></span></td>
            </tr>
            </tbody>
        </table>
        <h3>
            <center>Closed auctions</center>
        </h3>
        <table align="center">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Last bid</th>
                <th>Minimum raise</th>
                <th>Deadline</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable" th:each="closedAuction:${closedAuctions}" >
                <td><a th:href="@{/AuctionDetailsServlet(auctionId=${closedAuction.idAuction})}"><span
                        th:text="${closedAuction.itemName}"></span></a></td>
                <td><span
                        th:text="${closedAuction.itemDescription}"></span></td>
                <td><span
                        th:text="${closedAuction.price==0.0}?'no bids':${closedAuction.price}"></span></td>
                <td><span
                        th:text="${closedAuction.minRaise}"></span></td>
                <td><span
                        th:text="${#dates.format(closedAuction.getDeadline(), 'dd-MM-yyyy HH:mm')}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="column">
        <h3>Add new auction</h3>
        <form action="SellHelperServlet" method="POST" enctype="multipart/form-data">
            <div class="container">
                <label for="itemName">Name: </label><input id="itemName" name="itemName" placeholder="Select a name for the article, please"
                                                           type = "text" required><br><br>
                <label for="itemImage">Image: </label><input type="file" id="itemImage" name="itemImage"><br><br>
                <label for="itemDescription">Description: </label><input id="itemDescription" name="itemDescription" type = "text"
                                                                         placeholder="Write a short description to help users, please" required><br><br>
                <label for="initialPrice">Initial Price: </label><input id="initialPrice" name="initialPrice" type="number"
                                                                        placeholder="9.99" min="0.01" max="999999.99" step="0.01"
                                                                        required><br><br>
                <label for="minRaise">Minimum Raise: </label><input id="minRaise" name="minRaise" placeholder="0.99" step="0.01"
                                                                    min="0.01" max="500000.00"
                                                                    required><br><br>
                <label for="deadlineLocalDateTime">Auction closing time: </label><input id="deadlineLocalDateTime"
                                                                                        name="deadlineLocalDateTime"
                                                                                        type="datetime-local"
                                                                                        th:min="${dateMin}"
                                                                                        th:max="${dateMax}"
                                                                                        required><br><br>
                <input type="hidden" id="deadlineTimeZone" name="deadlineTimeZone" value="Europe/Rome">
                <button type="submit"> Submit</button>
                <p th:text="${errorMsg}"></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>