<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sell new products!</title>
    <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="topnav">
    <h1>TIW 2021 Auction Website</h1>
    <a th:href="@{/Logout}">Logout</a>
    <a class="active" th:href="@{/SellServlet}">Sell</a>
    <a th:href="@{/GetSearchedAuction}">Buy</a>
    <a th:href="@{/Home}">Home Page</a>
</div>
<h3>Add new auction</h3>
<form action="SellHelperServlet" method="POST" enctype="multipart/form-data">
    <label for="itemName">Name: </label><input id="itemName" name ="itemName" placeholder="iPhone" required><br><br>
    <label for="itemImage">Image: </label><input type="file" id="itemImage" name ="itemImage"><br><br>
    <label for="itemDescription">Description: </label><input id="itemDescription" name ="itemDescription" placeholder="Good phone?" required><br><br>
    <label for="initialPrice"></label>Initial Price: <input id="initialPrice" name ="initialPrice" placeholder="500" required><br><br>
    <label for="minRaise"></label>Minimum Raise: <input id="minRaise" name ="minRaise" placeholder="10" required><br><br>
    <label for="deadline"></label>Deadline: <input id="deadline" name ="deadline" type="date" required><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>